<a href="https://colab.research.google.com/github/minibrixie/Advanced-Data-Visualization-Lab-3/blob/main/Advanced_Data_Visualization_Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# add two integers together 
1 + 1

2

In [2]:
# subtract two integers together 
2 - 1

1

In [3]:
# integer division 
129/2

64.5

In [8]:
2**4

16

In [9]:
2*3

6

In [10]:
20%3

2

In [11]:
a = 10
b = 10
if a == b:
 print("a equals b")

a equals b

In [15]:
a = 10
b = 8
if a > b:
 print("a is greater than b")

a is greater than b

In [17]:
a = 12
b = 12
if a > b:
 print("a is greater than b")
else:
 print("a is not greater than b")

a is not greater than b

In [18]:
a = 13
b = 12
if a > b:
 print("a is greater than b")
elif a == b:
 print("a is equal to b")
else:
 print("a is less than b")

a is greater than b

In [24]:
a = 10
b = 10
if a == b:
 print("a  does not equal b")

a  does not equal b

In [27]:
num = 3; 
if num == 3: 
  print(num)

3

In [32]:
num = 3 
if num > 2: 
  print(num)

3

In [33]:
num = 3 
if num % 3 == 0: 
    print("Fizz")

Fizz

In [34]:
num = 10 
if num % 5 == 0: 
    print("Buzz")

Buzz

In [35]:
num = 4 
print(num > 0 and num < 15)

True

In [36]:
if num > 0 and num < 15: 
    print(num)

4

In [37]:
num = 4 
num > 0 or num > 15

True

In [38]:
num = 4 
print(num > 0 and num < 15)

True